.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: var(--white)
}

.modal {
    padding: var(--space-lg);
}

.modal__title {
    font-weight: 500;
    font-size: var(--font-lg);
}

.modal__field {
    margin: var(--space-xl) 0;
}

.field__label {
    display: inline-block;
    margin-bottom: var(--space-sm);

    font-size: var(--font-nm)
}

.field__input {
    display: block;
    width: stretch;
    padding: var(--space-md);
    border: 1px solid var(--gray-400);
    border-radius: 0.5rem;

    font-size: var(--font-nm);
}

.field__input::placeholder {
    opacity: var(--opacity-md);
    font-size: var(--font-nm);
}

.modal__buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}

@media (min-width: 769px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        background-color: transparent;        
    }

    .container__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;

        background-color: rgba(255, 255, 255, 0.80);
        backdrop-filter: blur(2px);
    }

    .modal {
        max-width: 450px;
        min-width: 450px;
        z-index: 100;

        padding: var(--space-xl);
        border-radius: 16px;
        box-shadow: 0px 24px 48px 12px rgba(16, 24, 40, 0.18);

        background-color: var(--white);
    }

    .modal__buttonsContainer {
        flex-direction: row-reverse;
    }

    .modal__buttonsContainer button {
        width: stretch;
    }
}
