html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-size: 16px;
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Variables */
:root {
  --gray-900: #000000;
  --gray-800: #101828;
  --gray-500: #B0BBD1;
  --gray-400: #D7DDE9;
  --gray-300: #E7EEFB;
  --gray-200: #EAECF0;
  --gray-100: #F7F9FD;

  --white: #FFFFFF;

  --blue-500: #0796D3;
  --blue-300: #53C0F0;
  --blue-100: #A0DCF6;

  --font-nm: 1rem;
  --font-lg: 1.5rem;

  --space-sm: 0.5rem;
  --space-lg: 1.5rem;

  --opacity-md: 54%;
}

body {
    background-color: var(--white)
}
