.container {
    padding: var(--space-lg);
}

.taskList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);

    padding: var(--space-lg);
    margin-bottom: var(--space-lg);
    border: 1px solid var(--gray-200);
    border-radius: 1rem;
}

.taskList__title {
    opacity: var(--opacity-md);
}

.taskList__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
}

@media (min-width: 769px) {
    .container {
        max-width: 450px;
        padding: 0;
        padding-top: var(--space-xxl);
        margin: 0 auto;
    }

    .taskList {
        padding: var(--space-xl);
    }

    .taskList__container {
        width: stretch;
        gap: var(--space-lg);
    }
}